.banner-main{
    width: 100%;
    height: auto;
    padding: 10px 0;
    background-color: #efbcbae0;
}

.banner{
    display: flex;
    flex-direction: column;
    .banner-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;

    }
    &-content{
        row-gap: 30px;
        width: 40%;
        display: flex;
        flex-direction: column;
        h1{
            font-size: 45px;
        }
        &__buttons{
            display: flex;
            align-items: center;
            column-gap: 10px;
            width: 100%;
            column-gap: 20px;
            .banner-btn{
                width: 150px;
                height: 50px;
                color: #FF3F3A;
                border: 1px solid #FF3F3A;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                &:hover{
                    background-color: #FF3F3A;
                    color: white;
                    transition: all 0.2s ease-in-out;
                }
            }
            .banner-btn-course{
                width: 200px;
                height: 52px;
                border: none;
                border-radius: 4px;
                background-color: #FF3F3A;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    background-color: #efbcbae0;
                    color: #FF3F3A;
                    transition: all 0.2s ease-in-out;
                    border: 1px solid #FF3F3A;
                }
            }
        }
    }
    &-bottom{
        width: 100%;
        height: auto;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        h1{
            font-size: 55px;
        }
        p{
            font-size: 14px;
            color: rgb(62, 61, 61);
        }
        span{
            width: 10px;
            height: 10px;
            border: none;
            border-radius: 50%;
            background-color: #FF3F3A;
        }
    }
}